<div class="wrapper">
  <div class="heading text-center">
    <h1>Reusable autocomplete</h1>
  </div>

  <div class="form text-center">
    <h2>Search for recipes that start with "A".</h2>
    <div class="form__group form__rel">
      <app-autocomplete [endpoint]="'/recipes/'" (selected)="recipeSelected($event)"></app-autocomplete>
    </div>
  </div>

  <div class="form text-center">
    <h2>Search for countries that start with "A".</h2>
    <div class="form__group form__rel">
      <app-autocomplete [endpoint]="'/countries/'" (selected)="countrySelected($event)"></app-autocomplete>
    </div>
  </div>

  <div class="form text-center">
    <h2>Search for states and territories of the United States.</h2>
    <div class="form__group form__rel">
      <app-autocomplete [endpoint]="'/states/'" (selected)="stateSelected($event)"></app-autocomplete>
    </div>
  </div>

</div>
